@font-face {
    font-family: "Open Sans"
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/OpenSans-Regular.woff2") format (woff2),
    url("./fonts/OpenSans-Regular.woff2") format (woff);

}

@font-face {
    font-family: "Open Sans"
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/OpenSans-Bold.woff2") format (woff2),
    url("./fonts/OpenSans-Bold.woff") format (woff);
    
}

.page-body{
    font-family: "Open Sans", sans-serif
    font-size: 20px;
}

.intro-title{
    font-size: 50px;
    font-weight: bold;
}

.program-title{
    font-size: 40px;
    font-weight: 700;
}

.program-subtitle{
    font-size: 24px;
}

.auditory-title{
    font-size: 40px;
    font-weight: 700;
}

.price-title{
    font-size: 40px;
    font-weight: 700;
}

.price-table th{
    font-weight: 700;
    text-align: left;
}

.price-table td{
    font-size: 16px;
}

.price-caption{
    font-size: 14px;
}

.service-title{
    font-size: 40px;
    font-weight: 700;
}

.service-list lable{
    font-size: 16px;
}

.service-price{
    font-size: 20px;
    font-weight: 700;
}